data/
patch/
full/
backup/
adm/
bbs/
css/
extend/
img/
install/
js/
lib/
mobile/
plugin/
skin/
theme/
_*.php
common.php
g4*.php
head.php
head.sub.php
index.php
LICENSE.txt
perms.sh
tail.php
tail.sub.php